{% extends "layout.html" %}

{% block title %}
    Drivers
{% endblock %}

{% block main %}

    <div class="card text-muted mb-3">
        <div class="card-header">
            <h4 class="page_header"> Formula 1 Drivers {{ CURRENT_SEASON }} </h4>
        </div>
        <div class="card-body">
            See below for list and details of all drivers in the current season
        </div>
    </div>

    <br>

    <div class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">

        {% for x in driver_standing %}
            <div class="col mb-5">
                <div id="curved-border" class="card">
                    <div class="constructor_header" id="{{ x.teamId.replace(' ','') }}">
                        <h5> {{ x.position }} </h5>
                        <h7> {{ x.points }} Pts </h7>
                    </div>
                    <div class="card-body" id="team-card">
                        <h5 class="card-title"> {{ x.driver.name }} </h5>
                        <h5 class="card-title"> {{ x.driver.surname }} </h5>
                        <h6 class="card-title"> No: {{ x.driver.number }} - Nationality: {{ x.driver.nationality }} </h6>
                        <div>
                            <img class="driver_logo" src="/static/driver_pics/{{x.driver.name}}{{x.driver.surname}}.jpg" alt="{{x.driver.name}}{{x.driver.surname}}">
                        </div>
                        <div>
                            <a href="{{ x.driver.url }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"> More driver info from Wikipedia </a>
                        </div>
                    </div>

                    <div class="driver_header" id="{{ x.teamId.replace(' ','') }}">
                        <h5 class="constructor" id="{{ x.teamId.replace(' ','') }}"> {{ x.team.teamName }} </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}