{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="next_race">

        <div class="card text-center text-muted bg-light">
            <div class="card-header">
                <h4 class="page_header"> Race Schedule </h4>
                <br>
                <ul class="nav nav-tabs card-header-tabs nav-justified" data-bs-tabs="tabs">
                    {% if last_race %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#last_race"> ROUND {{ last_race.round }} - Previous race: {{ last_race.race.0.raceName }} </a>
                        </li>
                    {% endif %}
                    {% if next_r %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#next"> ROUND {{ next_r.round }} - Next race: {{ next_r.race.0.raceName }} </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#next"> SEASON ENDED </a>
                        </li>
                    {% endif %}
                    {% if next_plus_one %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#next_plus_one"> ROUND {{ next_plus_one.round }} - {{ next_plus_one.race.0.raceName }} </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <form class="card-body tab-content">
                {% if last_race %}   
                    <div class="tab-pane" id="last_race">
                        <div class="card-body">
                            <h5 class="card-text"> <b>Race:</b> {{ last_race.race.0.raceName }} </h5>
                            <h5 class="card-text"> <b>Track:</b> {{ last_race.race.0.circuit.circuitName }} </h5>
                            <h5 class="card-text"> <b>Location:</b> {{ last_race.race.0.circuit.city }} - {{ last_race.race.0.circuit.country }} </h5>
                            <h5 class="card-text"> <b>Date:</b> {{ last_race.race.0.schedule.race.date }} </h5>
                            <h5 class="card-text"> <b>Time:</b> {{ last_race.race.0.schedule.race.time }} </h5>           
                            <img class="index_logo" src="/static/track_pics/{{last_race.race.0.circuit.circuitName}}.jpg" alt="image"><br><br>
                            <a href="{{last_race.race.0.circuit.url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"> More circuit info from Wikipedia </a>
                        </div>
                        <div class="card-footer text-muted">
                            <div>
                                <iframe class="map_logo" id="myMap" src="https://maps.google.com/maps?q={{last_race.race.0.circuit.circuitName}}&t=k&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if next_r %}
                    <div class="tab-pane active" id="next">
                        <div class="card-body">
                            <h5 class="card-text"> <b>Race:</b> {{ next_r.race.0.raceName }} </h5>
                            <h5 class="card-text"> <b>Track:</b> {{ next_r.race.0.circuit.circuitName }} </h5>
                            <h5 class="card-text"> <b>Location:</b> {{ next_r.race.0.circuit.city }} - {{ next_r.race.0.circuit.country }} </h5>
                            <h5 class="card-text"> <b>Date:</b> {{ next_r.race.0.schedule.race.date }} </h5>
                            <h5 class="card-text"> <b>Time:</b> {{ next_r.race.0.schedule.race.time }} </h5>
                            <img class="index_logo" src="/static/track_pics/{{next_r.race.0.circuit.circuitName}}.jpg" alt="image"><br><br>
                            <a href="{{next_r.race.0.circuit.url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"> More circuit info from Wikipedia </a>
                        </div>
                        <div class="card-footer text-muted">
                            <div>
                                <iframe class="map_logo" id="myMap" src="https://maps.google.com/maps?q={{next_r.race.0.circuit.circuitName}}&t=k&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="tab-pane active" id="next">
                        <div class="card-body">
                            <h5> SEASON ENDED </h5>
                        </div>
                {% endif %}
                {% if next_plus_one %}
                    <div class="tab-pane" id="next_plus_one">
                        <div class="card-body">
                            <h5 class="card-text"> <b>Race:</b> {{ next_plus_one.race.0.raceName }} </h5>
                            <h5 class="card-text"> <b>Track:</b> {{ next_plus_one.race.0.circuit.circuitName }} </h5>
                            <h5 class="card-text"> <b>Location:</b> {{ next_plus_one.race.0.circuit.city }} - {{ next_plus_one.race.0.circuit.country }} </h5>
                            <h5 class="card-text"> <b>Date:</b> {{ next_plus_one.race.0.schedule.race.date }} </h5>
                            <h5 class="card-text"> <b>Time:</b> {{ next_plus_one.race.0.schedule.race.time }} </h5>
                            <img class="index_logo" src="/static/track_pics/{{next_plus_one.race.0.circuit.circuitName}}.jpg" alt="image"><br><br>
                            <a href="{{next_plus_one.race.0.circuit.url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"> More circuit info from Wikipedia </a>
                        </div>
                        <div class="card-footer text-muted">
                            <div>
                                <iframe class="map_logo" id="myMap" src="https://maps.google.com/maps?q={{next_plus_one.race.0.circuit.circuitName}}&t=k&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}