{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}

    <div class="card text-muted mb-3">
        <div class="card-header">
            <h4 class="page_header"> Formula 1 Teams {{ CURRENT_SEASON }}</h4>
        </div>
        <div class="card-body">
            See below for list and details of all teams in the current season
        </div>
    </div>

    <br>

    <div class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">

        {% for x in team_standing %}
            <div class="col mb-5">
                <div id="glow-box" class="card">
                    <div class="constructor_header" id="{{ x.teamId.replace(' ','') }}">
                        <h5> {{ x.position }} </h5>
                        <h7> {{ x.points }} Pts </h7>
                    </div>
                    <div class="card-body" id="team-card">
                        <h5 class="constructor" id="{{ x.teamId.replace(' ','') }}"> {{ x.team.teamName }} </h5>
                        <p class="card-text"> Nationality: {{ x.team.country}} </p>
                        <p class="card-text"> Wins: {{ x.wins }} </p>
                        <div>
                            <img class="team_logo" src="/static/team_pics/{{x.teamId}}.jpg" alt="{{x.teamId}}">
                        </div>
                        <div>
                            <a href="{{x.team.url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer"> More team info from Wikipedia </a>
                        </div>
                    </div>
                    <div class="constructor_footer" id="{{ x.teamId.replace(' ','') }}">
                            {% for x in drivers_and_teams[x.teamId] %}
                                <h6 class="constructor_driver"> {{ drivers_dict[x].name }} {{ drivers_dict[x].surname }} </h6>
                            {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}